.tools-content {
  padding-top: 1%;
  color: white;
  display: flex;
  flex-direction: column;
}

.search-box {
  padding: 0% 1% 0 1%;
}

.tools-list {
  display: grid;
  column-gap: 1%;
  row-gap: 2%;
  grid-template-columns: repeat(auto-fill, 360px);
  padding: 1%;
}
