.wrapper-tabulation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-angka {
  width: 50%;
  margin-right: 2%;
}

.radio-inline,
.jumlah-data,
#jumlah-kelas,
.white-text {
  color: white;
}

.table {
    background-color: white;
}